---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">
  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        {% include post_variables.html %}
        <article class="post py3{% if linklog %} linklog{% endif %}">
          <header>
            <p class="post-meta">{{ post.date | date: site.date_format }}</p>
            <h3 class="h1 post-title">
            {% if linklog %}<span class="linklog-marker">{{ site.linkblog.linkpost.marker }}</span>{% endif %}
            <a href="{{ title_url }}" class="post-link">{{ post.title }}</a>
            {% if linklog %}<a href="{{ permalink }}" class="linklog-permalink">{{ site.linkblog.permalink_label }}</a>{% endif %}
            </h3>
          </header>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
          {% if excerpted != 'false' %}
          <div class="post-excerpt-link">
            <p><a rel="full-article" href="{{ permalink }}">{{ site.excerpt_link }}</a></p>
          </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
